# created by hussainatphysics@gmail.com(hussainsha syed)
  #here we perfom multiple Linear regression, dummy variables and also train test split

In [1]:
import pandas as pd

In [2]:
loadDataset = pd.read_csv("C:\\Users\\HussainSha\\ML_forGithub\\Multi_linear_regression\\insurance.csv")
loadDataset.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [8]:
dummies = pd.get_dummies(loadDataset[['sex', 'smoker', 'region']])

In [9]:
dummies

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1,0,0,1,0,0,0,1
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,1,0,0,1,0,0
4,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...
1333,0,1,1,0,0,1,0,0
1334,1,0,1,0,1,0,0,0
1335,1,0,1,0,0,0,1,0
1336,1,0,1,0,0,0,0,1
1337,1,0,0,1,0,1,0,0

In [12]:
new_dummies = dummies.drop('region_southwest', axis='columns')

In [13]:
new_dataset = loadDataset.drop(['sex', 'smoker', 'region'], axis='columns')

In [15]:
finalDataset = pd.concat([new_dataset,new_dummies],axis='columns' )

In [16]:
finalDataset.head(15)

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0
5,31,25.740,0,3756.62160,1,0,1,0,0,0,1
6,46,33.440,1,8240.58960,1,0,1,0,0,0,1
7,37,27.740,3,7281.50560,1,0,1,0,0,1,0
8,37,29.830,2,6406.41070,0,1,1,0,1,0,0
9,60,25.840,0,28923.13692,1,0,1,0,0,1,0
10,25,26.220,0,2721.32080,0,1,1,0,1,0,0
11,62,26.290,0,27808.72510,1,0,0,1,0,0,1
12,23,34.400,0,1826.84300,0,1,1,0,0,0,0
13,56,39.820,0,11090.71780,1,0,1,0,0,0,1
14,27,42.130,0,39611.75770,0,1,0,1,0,0,1

In [19]:
x= finalDataset.drop(['charges'], axis='columns')
x.head(5)

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast
0,19,27.900,0,1,0,0,1,0,0,0
1,18,33.770,1,0,1,1,0,0,0,1
2,28,33.000,3,0,1,1,0,0,0,1
3,33,22.705,0,0,1,1,0,0,1,0
4,32,28.880,0,0,1,1,0,0,1,0

In [20]:
y=finalDataset['charges']

In [21]:
y.head(5)

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
xTrain, xTest, yTrain, yTest = train_test_split(x,y, test_size=0.2, random_state=10)

In [24]:
xTrain

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast
559,19,35.530,0,0,1,1,0,0,1,0
273,50,27.455,1,0,1,1,0,1,0,0
471,18,30.115,0,1,0,1,0,1,0,0
22,18,34.100,0,0,1,1,0,0,0,1
939,53,29.480,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
1180,42,41.325,1,1,0,1,0,1,0,0
1147,20,31.920,0,1,0,1,0,0,1,0
527,51,25.800,1,1,0,1,0,0,0,0
1149,42,34.100,0,0,1,1,0,0,0,0
1289,44,34.320,1,0,1,1,0,0,0,1

In [26]:
from sklearn import linear_model

In [27]:
Multi_lin_reg = linear_model.LinearRegression()

In [28]:
Multi_lin_reg.fit(xTrain, yTrain)

LinearRegression()

In [29]:
Multi_lin_reg.coef_

array([   259.54736297,    353.03769217,    543.28925423,    127.19881786,
         -127.19881786, -12062.05468851,  12062.05468851,    618.28974307,
          426.2872707 ,   -277.84386146])

In [30]:
Multi_lin_reg.intercept_

-1401.00803969964

In [31]:
Multi_lin_reg.predict(xTest)

array([ 8116.8091336 ,  5925.54678115, 15364.0205027 , 11072.86668879,
        3806.86801357,  9635.50436038,  9110.31849375, 25720.16977662,
        7358.79856542, 30730.29086532,  1757.74404442,  4192.84723897,
        7378.13593175, 11258.70016093, 12961.57203517, 11148.52606967,
        5418.01671344, 18441.99023187, 10801.41364282, 30933.01321812,
       34183.24244832,  4431.09813649,  1244.46523557,  7314.0875567 ,
        4099.22611914, 13471.44942493, 12014.09931242, 10315.56797413,
        6572.83510745, 31190.45092929, -1668.71534474, 34205.00402871,
        9288.99179578,  7349.17999217,  7949.34510582, 11857.68201912,
       13526.15374751, 12862.68463084,  9918.90523883,  8589.63369837,
       15747.21505156,  9854.77344331,  5556.62239283, 11581.32481362,
        5327.71778173,  7073.09750803,  6544.8368234 , 34289.94738333,
       11061.35360864, 10680.49249066, 33011.77515247,  5342.69637901,
       10530.02926778, 14658.17594656, 10955.63647923, 13109.68367525,
       12188.67812621,  7759.99595816,  7761.95512428, 34795.71323252,
         688.22037304, 33376.01204433, 37090.97353904,  1317.46823557,
       27949.4710421 , 10029.31503398,  5947.05353579,  9363.4691182 ,
        8336.04584909,  7914.35978461,  7297.14775992,  1948.75827595,
        8269.65156155,  9707.61620884,  8654.96500584, 12858.86697195,
        6292.88504472, 10945.2538675 , -1021.77951643, 12892.29051241,
       11312.36566103, 12610.86514535, 26442.99014369,  2131.36511778,
       33773.08437795,  4240.70066928,  2570.49340589,  3611.23849824,
        9361.91526348,  9078.23635868, 32025.96784066, 32653.85963728,
        9350.6442335 , 38282.67055219, 13634.78323967,  6379.23062644,
        7051.39636698, 14389.3296959 ,  6804.83502317, 10619.14859513,
        8048.79250658,  2586.00846582,  2890.93178222,  7032.07818952,
       10287.71458685,  9803.0302588 , 30903.9751032 , 29953.48065749,
       30087.62866022,  4052.46964208, 10601.49854332,  7949.68408525,
        6482.74865144, 26341.66118362, 30255.78033881, 31366.22763731,
        5305.43260728, 35485.81756646,  6276.86919016,  3423.93751848,
       33968.90869535, 11241.28862773,  6697.90522387,  5116.1056638 ,
       38995.58045465,  5560.67431846, 13949.75083859,  9251.48710386,
        6886.55180253, 11872.95150891, 11449.77484378, 35883.69903631,
       27178.61915095, 34882.96487973, 12444.79260271, 30574.95511715,
       12376.83896215, 12626.6539567 , 28797.13538107,  5401.93155214,
        8115.28689871, 31826.19774292, 13754.83575004,  4292.38991038,
        4213.31517112, 29983.59784893, 14036.93943233,  9317.92756456,
       12167.07105882,  3512.0337617 ,  7306.25025639,  4444.6200875 ,
        2073.48419226, 38546.57579279, 13533.16672245,  3968.52266688,
       14628.60086283, -1002.24803887, 15379.8936683 , 36175.60439376,
       11211.52394625,  6897.29361954,  7768.57894689, 11974.85865787,
        4796.67037522, 40192.89352654, 10308.62329755, 10303.13459088,
        2048.20811884, 10718.71306957, 12211.35041962, 10165.88233469,
        7235.75150498, 11950.83253252, 29099.04643072,  8124.63095117,
         653.77369341, 12140.04731305,  9766.90441773, 15716.75423317,
       38827.95221009, 10969.49914945,  5511.63475534,  5987.89826609,
       27750.95941483,  7318.05225072, 35828.65489792,  9570.93144746,
       30513.62613557,  1294.84408169,  8264.04455783,  9155.15831476,
        7221.51960452,  9568.31215857, 13712.03148102, 11516.85200529,
       24320.58505517,  2847.5930959 , 10368.3774292 ,  6758.31042326,
        6419.39648032,    84.52591943, 15960.34658967, 13791.85860158,
        3019.06177231, 37183.93168052, 27619.04175347, 15662.24404828,
       32481.66281714,  5083.53499303,  9824.60131205, 32776.93735003,
        8717.26590913,  9216.68091339, 32323.02491808,  6270.14992489,
        9544.62082649,   945.80308598, 14850.06337863, 12765.03422478,
        7218.68275037,  7216.95264666,   808.46368574, 13997.78432903,
        -223.60594997, 26026.39061942, 14022.91719285,  4572.42761785,
        8270.23433093, 29139.14501124,  5809.40086442, 25710.61205146,
        7527.26659853, 30139.73171195, 11430.74733179,  5091.60191696,
       10895.76570912, 37551.28465746, -1602.2016182 , 14528.37792399,
       10575.21469408, 28029.4881286 , 10787.76451174, 32755.59032468,
       11333.25665503,  3066.33146329, 12821.63466002,  8291.7435277 ,
       12962.78487708,   547.4097712 ,  9850.25910049, 12296.09254689,
       33712.81213613,  5257.42869131, 10454.93631103, 11876.80256781,
        9477.54382501,  5740.57221942,  -177.56681759, 16178.45686287,
        3165.94019909, 34774.59542963,  8617.7510464 , 36671.68355996,
        8025.47445734,  2479.57680646, 16277.356192  , 10818.22813287])

In [32]:
Multi_lin_reg.score(xTest,yTest)

0.6953286838318307